@keyframes gradientBackground {
  0% {
    background-color: #83b5f6;
  }
  50% {
    background-color: #fad0c4;
  }
  100% {
    background-color: #ff9a9e;
  }
}

.main-page {
  height: 100vh; /* Ensure the background covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: gradientBackground 15s ease infinite; /* Apply the animation */
}
