/* Signin.css */
.signin-container {
  background-color: #f8f9fa; /* 배경색 추가 */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.signin-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* 버튼 스타일 추가 */
button {
  font-size: 1.2rem;
}

button[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  border-color: #004085;
}

button[type="button"] {
  background-color: #6c757d;
  border-color: #6c757d;
}

button[type="button"]:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
